@title-grey: #838E98;
@text-grey: #D8DCDE;
@background-grey: #F4F5F6;
@item-background-grey: #FAFAFA;
@item-info-grey: #969EA7;
@black: #333333;
@white: #FFFFFF;
@text-blue: #036aff; //TODO change color
@blue: #0068ff;
//TODO change color of borders
