// colors
@title-grey: #838E98;
@text-grey: #c6cbce;
@background-grey: #F4F5F6;
@item-background-grey: #FAFAFA;
@item-info-grey: #969EA7;
@black: #333333;
@white: #FFFFFF;
@text-blue: #046ae7;
@blue: #0068ff;
@border-color: #eeeeee;
@shadow-color: #dddddd;

// font-weights
@almost-bold: 500;

// font-sizes
@main-font-size: 22px;
@main-font-size-mobile: 20px;
@title-size: 28px;
@modal-title-size: 32px;
@modal-title-size-mobile: 23px;

//TODO change color of borders
